<div class='input-group {{className}}'>
    <div class='input-group-container {{theme}}'>
        {{#if label}}
            <label class='input-label'>{{label}}</label>
        {{/if}}
        {{{InputField}}}
    </div>
    {{#if error}}
        <p class='error-text'>
            {{error}}
        </p>
    {{/if}}
</div>