<div class='input-group {{className}}'>
    {{#if label}}
        <label class='input-label' for='{{name}}'>{{label}}</label>
    {{/if}}
    {{{InputField}}}
    {{#if error}}
        <p class='error-text'>
            {{error}}
        </p>
    {{/if}}
</div>