<div class="input-group{{#if error}} input-group__error{{/if}}">
    {{#if label }}
        <label class="input-label" for="{{name}}">{{label}}</label>
    {{/if}}

    <input 
        type="{{type}}"
        id="{{name}}"
        name="{{name}}"
        class="input-field{{#if className}} {{className}}{{/if}}{{#if theme}} {{theme}}{{/if}}"
        placeholder="{{placeholder}}"
        {{#if required}}required{{/if}}
    />
    
    {{#if helperText}}
        <span class="input-helper">{{helperText}}</span>
    {{/if}}
</div>