<div class='authForm-container'>
    {{#if title}}
        <h1 class='authForm-title'>{{title}}</h1>
    {{/if}}

    <form class='authForm-form' id={{formId}}>
        {{{AuthFields}}}
    </form>

    <div class='authForm-actions'>
        <div class='button button__submit'>
            {{{SubmitButton}}}
        </div>
        <div class='button button__link'>
            {{{SignUpButton}}}
        </div>
    </div>
</div>