<div class='authForm-container'>
    {{#if title}}
        <h1 class='authForm-title'>{{title}}</h1>
    {{/if}}

    <form class='authForm-form' id={{formId}}>
        {{{inputs}}}

        <div class='authForm-actions'>
            <div class='button button__submit'>
                {{{authButton}}}
            </div>
            <div class='button button__link'>
                {{{signInButton}}}
            </div>
        </div>
    </form>
</div>