<div class='chat-card-wrapper' data-chat-id='{{id}}'>
    <div class='chat-card__header'>
        <div class='chat-card-avatar'>
            {{{UserAvatar}}}
        </div>
    </div>
    <div class='chat-card__content'>
        <div class='chat-card__info'>
            <h3 class='chat-card__title'>{{title}}</h3>
            <time class='chat-card__time'>{{time}}</time>
        </div>
        <div class='chat-card__content'>
            <p class='chat-card__message'>{{lastMessage}}</p>
            {{#if unread_count}}
                <div class='chat-card__badge'>{{unread_count}}</div>
            {{/if}}
        </div>
    </div>
</div>