<div class='{{className}}' data-chat-id='{{id}}'>
    <div class='chat-card__header'>
        <h3 class='chat-card__title'>{{title}}</h3>
        <time class='chat-card__time'>{{time}}</time>
    </div>
    <div class='chat-card__content'>
        <p class='chat-card__message'>{{lastMessage}}</p>
        {{#if unreadCount}}
            <div class='chat-card__badge'>{{unreadCount}}</div>
        {{/if}}
    </div>
</div>