<div class='profile-info-wrapper'>
    <div class='profile-info-container'>
        <div class='profile-avatar-wrapper'>
            {{{UserAvatar}}}
        </div>

        <h1 class='profile-info__title'>{{userName}}</h1>

        <div class='profile-info__form'>
            {{{ProfileInfoItems}}}
        </div>

        <div class='footer-container'>
            <div class='edit-button-wrapper'>
                {{{EditProfileButton}}}
            </div>
            <div class='edit-button-wrapper'>
                {{{EditPassButton}}}
            </div>
            <div class='logout-button'>
                {{{LogOutButton}}}
            </div>
        </div>

        <div class='back-button'>
            {{{BackButton}}}
        </div>
    </div>
</div>