<section class='chat-page'>
    <div class='chat-page__sidebar'>
        <header class='chat-page__header'>
            {{{ChatHeader}}}
        </header>
        <div class='chat-page__list'>
            {{{ChatList}}}
            {{{SearchChatList}}}
        </div>
    </div>

    <div class='chat-page__chat'>
        {{!-- {{{MessageFeed}}} --}}

        <div class='chat-history-container'>
            {{#if hasMessages}}
                {{{Messages}}}
            {{else}}
                <p class='chat-empty-placeholder'>
                    Здесь пока нет сообщений...
                </p>
            {{/if}}
        </div>

        <div class='chat-message-input-wrapper'>
            {{{AttachButton}}}

            <p class='chat-not-selected-placeholder'>
                Выберите чат, чтобы отправить сообщение
            </p>
        </div>

    </div>
</section>