<div class='edit-form-container'>
    <div class='edit-form__avatar-wrapper'>
        {{{UserAvatar}}}
    </div>
    <h3 class='edit-form__title'>{{title}}</h3>
    <form id={{formId}} class='edit-form__form'>
        {{{ProfileEditItems}}}
    </form>
    {{{SubmitButton}}}
    {{{CancelButton}}}
</div>