<div class='edit-form-container'>
    {{{UserAvatar}}}
    <form id={{formId}} class='edit-form__form'>
        {{{ProfileEditItems}}}
    </form>
    {{{SubmitButton}}}
    {{{CancelButton}}}
</div>